*.o
*.d
*.launch
*.axf
*.bin
*.elf

# MDK-ARM Project Files
*.uvgui.*
*.uvguix.*
*.scvd
DebugConfig/
Listings/
Objects/
Packs*.htm
JLinkLog.txt
JLinkSettings.ini

# IAR Project Files
settings/
*.dep
*.ewt
*.ewd

# SW4STM32 Project Files
.settings/
*.cfg
*.xml